.showList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}

.showContainer{
  width: 30rem;
  border: 1px solid grey;
  padding: 1em;
}

.subtitle{
  margin: unset;
}

.title{
  margin: unset;
}